.articleDetails {
  border: 1px solid #232323;
  display: flex;
  align-items: center;

  .articleImage {
    background: rgba(76, 175, 180, 0.1);
    width: 250px;
    height: 250px;
    border-radius: 5px !important;
    margin: 20px;
    // Add any other styles you want here
  }
}
