/* ArticleCard.module.scss */

.articleCard {
  max-width: 20em;
  height: 500px;
  margin-bottom: 20px;
  overflow-y:hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .articleImage {
    background: rgba(76, 175, 180, 0.1);
    width: 250px;
    height: 250px;
    border-radius: 5px !important;
    margin: 20px;
    // Add any other styles you want here
  }
}
